button{
    height: 60px;
    width: 80px;
    background-color: aquamarine;
    margin: 20px;
    padding: 5px;
}

.toast{
    position: absolute;
    top: 8%;
    right: 2%;
    height: 50px;
    width: 220px;
    background-color: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 1s  slide-in;
}

@keyframes slide-in {
  from {
    transform: translateX(90vw) scaleX(1.5);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

body {
  overflow-x: hidden;
}
